.btn{
  border-radius: 30px;
  padding: 20px;
  font-family: sans-serif;
  margin: 5px;
  border-color: #d9d9f2;
  background-color: #d9d9f2;
}

.round {
  padding-right: 10px;
  background-color: #4040bf;
border-radius: 50%;
text-align: center;
color: white;
}
.btn:hover {
  border-color:#4040bf ;
}